// FONTS
$font-family-default: 'Geometria';

$font-weight-thin-value: 100;
$font-weight-extra-light-value: 200;
$font-weight-light-value: 300;
$font-weight-regular-value: 400;
$font-weight-medium-value: 500;
$font-weight-bold-value: 700;
$font-weight-extra-bold-value: 800;
$font-weight-heavy-value: 900;

$font-size-standard: 1.5rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.3rem;
$font-size-extra-small: 1.1rem;
$font-size-category: 1.6rem;
