<div class="dropzone">
  <div class="row-container">
    <img class="upload-document-img" src="assets/images/upload_document.svg" alt="Upload Document" />
  </div>
  <div class="row-container">
    <h4 class="dropzone-label" jhiTranslate="upload-document.drag-and-drop"></h4>
  </div>
  <div class="row-container">
    <span class="or" jhiTranslate="upload-document.or"></span>
  </div>
  <div class="row-container">
    <button class="btn btn-primary btn-icon" routerLink="/documents-old/upload">
      <span class="bi bi-plus-circle-fill"></span>
      <span jhiTranslate="upload-document.select-file"></span>
    </button>
  </div>
</div>
