<div class="toast-container w-100 p-3 d-flex flex-column align-items-end justify-content-end">
  <ngb-toast
    *ngFor="let toast of toasts"
    [autohide]="isToastAutoHide(toast)"
    [ngClass]="getToastClass(toast)"
    [delay]="getToastDelay(toast)"
    (hidden)="removeToast(toast)"
    data-cy="toast-container"
  >
    <div class="row no-gutters">
      <div class="col d-flex align-items-center justify-content-start">
        <div *ngIf="isToastTranslatable(toast)" [jhiTranslate]="getToastTranslationKey(toast)" [translateValues]="toast.translationParams"></div>
        <div *ngIf="!isToastTranslatable(toast)">
          {{ toast.message }}
        </div>
      </div>
      <div class="col-auto d-flex align-items-center justify-content-center">
        <button class="btn btn-invisible close-btn" (click)="removeToast(toast)">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </div>
  </ngb-toast>
</div>
