@import 'bootstrap-variables';
@import 'bootstrap-mixins';

@mixin strength-level($strength-class, $color) {
  &.#{$strength-class} {
    .bar {
      .cell.on {
        .fill {
          background-color: $color;
        }
      }
    }

    .indicator-row {
      .indicator-col {
        .indicator {
          color: $color;
        }
      }
    }
  }
}

.progress-container {
  @include strength-level('weak', $danger);
  @include strength-level('medium', $warning);
  @include strength-level('good', $info);
  @include strength-level('excellent', $success);

  .bar {
    .cell {
      height: 2px;

      .fill {
        width: 100%;
        height: 100%;
        background-color: $gray-300;
      }

      &:not(:last-child) {
        padding-right: 7px;
      }
    }
  }

  .indicator-row {
    margin-top: 4px;

    .indicator-col {
      .indicator {
        margin-right: 0.5em;
        font-size: 0.8em;
        color: $gray-600;
      }

      .help-btn {
        padding: 0.2em;
        color: $gray-600;
      }
    }
  }

  .criteria-title-row {
    margin-top: 24px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }

    .criteria-title-col {
    }
  }

  .criteria-row {
    font-size: 0.8em;
    margin-top: 4px;

    .criteria-icon-col {
      padding-right: 0.4em;
      color: $gray-400;

      &.respected {
        color: $success;
      }
    }

    .criteria-description-col {
    }
  }

  .rules-text-row {
    font-size: 0.8em;

    .rules-text-col {
      ul {
        li {
        }
      }
    }
  }
}
