<div
  class="progress-container w-100"
  [class.weak]="strengthLevel === 1"
  [class.medium]="strengthLevel === 2"
  [class.good]="strengthLevel === 3"
  [class.excellent]="strengthLevel === 4"
>
  <div class="bar row no-gutters">
    <div class="cell col-3" [class.on]="strengthLevel >= 1">
      <div class="fill"></div>
    </div>
    <div class="cell col-3" [class.on]="strengthLevel >= 2">
      <div class="fill"></div>
    </div>
    <div class="cell col-3" [class.on]="strengthLevel >= 3">
      <div class="fill"></div>
    </div>
    <div class="cell col-3" [class.on]="strengthLevel >= 4">
      <div class="fill"></div>
    </div>
  </div>
  <div class="indicator-row row no-gutters">
    <div class="indicator-col col d-flex align-items-center justify-content-end" [ngSwitch]="strengthLevel">
      <div class="indicator" *ngSwitchCase="passwordStrengthEnum.NONE" jhiTranslate="authentication.activate.password.indicators.NONE">Help</div>
      <div class="indicator" *ngSwitchCase="passwordStrengthEnum.WEAK" jhiTranslate="authentication.activate.password.indicators.weak">Weak</div>
      <div class="indicator" *ngSwitchCase="passwordStrengthEnum.MEDIUM" jhiTranslate="authentication.activate.password.indicators.medium">Medium</div>
      <div class="indicator" *ngSwitchCase="passwordStrengthEnum.GOOD" jhiTranslate="authentication.activate.password.indicators.good">Good</div>
      <div class="indicator" *ngSwitchCase="passwordStrengthEnum.EXCELLENT" jhiTranslate="authentication.activate.password.indicators.excellent">Excellent</div>
    </div>
  </div>
  <div class="criteria-title-row row no-gutters">
    <div class="criteria-title-col col" jhiTranslate="authentication.activate.password.criteria.title">Your password must :</div>
  </div>
  <div class="criteria-row row no-gutters">
    <div class="criteria-icon-col col-auto" [class.respected]="isAtLeastEightCharacters">
      <fa-icon icon="check-circle"></fa-icon>
    </div>
    <div class="criteria-description-col col" jhiTranslate="authentication.activate.password.criteria.length">contain 12 characters or more</div>
  </div>
  <div class="criteria-row row no-gutters">
    <div class="criteria-icon-col col-auto" [class.respected]="isRespectingAtLeastThreeRules">
      <fa-icon [styles]="" icon="check-circle"></fa-icon>
    </div>
    <div class="criteria-description-col col" jhiTranslate="authentication.activate.password.criteria.rules.description">including at least 3 of the following elements :</div>
  </div>
  <div class="rules-text-row row no-gutters">
    <div class="rules-text-col col">
      <ul>
        <li jhiTranslate="authentication.activate.password.criteria.rules.lowercase">a lowercase letter</li>
        <li jhiTranslate="authentication.activate.password.criteria.rules.uppercase">an uppercase letter</li>
        <li jhiTranslate="authentication.activate.password.criteria.rules.number">a number</li>
        <li jhiTranslate="authentication.activate.password.criteria.rules.special">a special character</li>
      </ul>
    </div>
  </div>
</div>
