<myp-activate-container>
  <div class="d-flex justify-content-center">
    <div class="main-container">
      <div class="row subtitle-row no-gutters">
        <div class="col subtitle-col" jhiTranslate="authentication.activate.password.subtitle">We recommend using a strong password to secure your account.</div>
      </div>
      <myp-password-form buttonContent="authentication.activate.password.next" (submitPassword)="submitPassword($event)" [loadingManager]="loadingManager"></myp-password-form>
    </div>
  </div>
</myp-activate-container>
